<div class="callout">
    <div class="container">
        <h1><strong>ember-ic-you</strong></h1>

        <div class="actions">
            <a href="https://github.com/vestorly/ember-ic-you" class="btn btn-light">FORK ME ON GITHUB</a>
            <a href="#demo" class="btn btn-dark">See a demo</a>
        </div><!-- /.actions -->

        <h3>a simple scroll listener for ember applications</h3>
    </div><!-- /.container -->
</div><!-- /.callout -->


<div id="demo" class='really-big-spacer'>

<h2>Scroll down!</h2>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<div class="fa fa-arrow-down {{aboveTheLine}}"></div>
<h2>Scroll back up!</h2>

</div>


{{ember-ic-you}}
  <hr>
  <h2>Here I am!</h2>